---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <!-- 사용자님의 Instagram과 LinkedIn 링크로 변경 -->
  <a href="https://www.instagram.com/grayharibo/?hl=ko" target="_blank">
    <img border="0" alt="Instagram Link" src="/images/instagram.png" style="width:2.0rem;height:2.0rem;float:right;margin-left:0.5rem;margin-top:0.2rem;">
  </a>
  <a href="https://www.linkedin.com/in/dongsu-choi-55a8442a0/" target="_blank">
    <img border="0" alt="LinkedIn Link" src="/images/linkedin.png" style="width:2.0rem;height:2.0rem;float:right;margin-top:0.2rem;">
  </a>
  <br>
  
  {{ content }}
</div>
